body{
    background-image: url(../images/nfl_trophy.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.head{
    background-color: black;
    color: white;
    text-align: center;
}

.section{
color: white;
background-color: cadetblue;
}
    
.search{
    border-style: solid;
    border-color: black;
    margin: 2vh;
}

.choice{
     margin-left: 3vh;
     margin-right: 3vh;
}

